@media (max-width: 1200px) {
  .reverse-xl {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media (max-width: 992px) {
  .reverse-md {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media (max-width: 769px) {
  .reverse-sm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media (max-width: 576px) {
  .reverse-xs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.sticky {
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 8px;
}

@media (max-width: 769px) {
  .sticky {
    position: static !important;
  }
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

abbr[title] {
  border-bottom: 1px dotted;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

figure {
  margin: 0;
}

img {
  vertical-align: middle;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}

[role="button"] {
  cursor: pointer;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 12px;
  padding-right: 12px;
}

@media (min-width: 576px) {
  .container-sm, .container {
    width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    width: 1320px;
  }
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 12px;
  padding-right: 12px;
}

.row {
  margin-left: -12px;
  margin-right: -12px;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  padding-left: 12px;
  padding-right: 12px;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}

.col-xs-12 {
  width: 100%;
}

.col-xs-11 {
  width: 91.66666667%;
}

.col-xs-10 {
  width: 83.33333333%;
}

.col-xs-9 {
  width: 75%;
}

.col-xs-8 {
  width: 66.66666667%;
}

.col-xs-7 {
  width: 58.33333333%;
}

.col-xs-6 {
  width: 50%;
}

.col-xs-5 {
  width: 41.66666667%;
}

.col-xs-4 {
  width: 33.33333333%;
}

.col-xs-3 {
  width: 25%;
}

.col-xs-2 {
  width: 16.66666667%;
}

.col-xs-1 {
  width: 8.33333333%;
}

.col-xs-pull-12 {
  right: 100%;
}

.col-xs-pull-11 {
  right: 91.66666667%;
}

.col-xs-pull-10 {
  right: 83.33333333%;
}

.col-xs-pull-9 {
  right: 75%;
}

.col-xs-pull-8 {
  right: 66.66666667%;
}

.col-xs-pull-7 {
  right: 58.33333333%;
}

.col-xs-pull-6 {
  right: 50%;
}

.col-xs-pull-5 {
  right: 41.66666667%;
}

.col-xs-pull-4 {
  right: 33.33333333%;
}

.col-xs-pull-3 {
  right: 25%;
}

.col-xs-pull-2 {
  right: 16.66666667%;
}

.col-xs-pull-1 {
  right: 8.33333333%;
}

.col-xs-pull-0 {
  right: auto;
}

.col-xs-push-12 {
  left: 100%;
}

.col-xs-push-11 {
  left: 91.66666667%;
}

.col-xs-push-10 {
  left: 83.33333333%;
}

.col-xs-push-9 {
  left: 75%;
}

.col-xs-push-8 {
  left: 66.66666667%;
}

.col-xs-push-7 {
  left: 58.33333333%;
}

.col-xs-push-6 {
  left: 50%;
}

.col-xs-push-5 {
  left: 41.66666667%;
}

.col-xs-push-4 {
  left: 33.33333333%;
}

.col-xs-push-3 {
  left: 25%;
}

.col-xs-push-2 {
  left: 16.66666667%;
}

.col-xs-push-1 {
  left: 8.33333333%;
}

.col-xs-push-0 {
  left: auto;
}

.col-xs-offset-12 {
  margin-left: 100%;
}

.col-xs-offset-11 {
  margin-left: 91.66666667%;
}

.col-xs-offset-10 {
  margin-left: 83.33333333%;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-offset-8 {
  margin-left: 66.66666667%;
}

.col-xs-offset-7 {
  margin-left: 58.33333333%;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-offset-5 {
  margin-left: 41.66666667%;
}

.col-xs-offset-4 {
  margin-left: 33.33333333%;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-offset-2 {
  margin-left: 16.66666667%;
}

.col-xs-offset-1 {
  margin-left: 8.33333333%;
}

.col-xs-offset-0 {
  margin-left: 0%;
}

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-pull-11 {
    right: 91.66666667%;
  }
  .col-sm-pull-10 {
    right: 83.33333333%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-8 {
    right: 66.66666667%;
  }
  .col-sm-pull-7 {
    right: 58.33333333%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-5 {
    right: 41.66666667%;
  }
  .col-sm-pull-4 {
    right: 33.33333333%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-2 {
    right: 16.66666667%;
  }
  .col-sm-pull-1 {
    right: 8.33333333%;
  }
  .col-sm-pull-0 {
    right: auto;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-push-11 {
    left: 91.66666667%;
  }
  .col-sm-push-10 {
    left: 83.33333333%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-8 {
    left: 66.66666667%;
  }
  .col-sm-push-7 {
    left: 58.33333333%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-5 {
    left: 41.66666667%;
  }
  .col-sm-push-4 {
    left: 33.33333333%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-2 {
    left: 16.66666667%;
  }
  .col-sm-push-1 {
    left: 8.33333333%;
  }
  .col-sm-push-0 {
    left: auto;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-0 {
    margin-left: 0%;
  }
}

@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-pull-12 {
    right: 100%;
  }
  .col-md-pull-11 {
    right: 91.66666667%;
  }
  .col-md-pull-10 {
    right: 83.33333333%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-8 {
    right: 66.66666667%;
  }
  .col-md-pull-7 {
    right: 58.33333333%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-5 {
    right: 41.66666667%;
  }
  .col-md-pull-4 {
    right: 33.33333333%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-2 {
    right: 16.66666667%;
  }
  .col-md-pull-1 {
    right: 8.33333333%;
  }
  .col-md-pull-0 {
    right: auto;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-push-11 {
    left: 91.66666667%;
  }
  .col-md-push-10 {
    left: 83.33333333%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-8 {
    left: 66.66666667%;
  }
  .col-md-push-7 {
    left: 58.33333333%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-5 {
    left: 41.66666667%;
  }
  .col-md-push-4 {
    left: 33.33333333%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-2 {
    left: 16.66666667%;
  }
  .col-md-push-1 {
    left: 8.33333333%;
  }
  .col-md-push-0 {
    left: auto;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-offset-0 {
    margin-left: 0%;
  }
}

@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
  .col-lg-pull-12 {
    right: 100%;
  }
  .col-lg-pull-11 {
    right: 91.66666667%;
  }
  .col-lg-pull-10 {
    right: 83.33333333%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-8 {
    right: 66.66666667%;
  }
  .col-lg-pull-7 {
    right: 58.33333333%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-5 {
    right: 41.66666667%;
  }
  .col-lg-pull-4 {
    right: 33.33333333%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-2 {
    right: 16.66666667%;
  }
  .col-lg-pull-1 {
    right: 8.33333333%;
  }
  .col-lg-pull-0 {
    right: auto;
  }
  .col-lg-push-12 {
    left: 100%;
  }
  .col-lg-push-11 {
    left: 91.66666667%;
  }
  .col-lg-push-10 {
    left: 83.33333333%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-8 {
    left: 66.66666667%;
  }
  .col-lg-push-7 {
    left: 58.33333333%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-5 {
    left: 41.66666667%;
  }
  .col-lg-push-4 {
    left: 33.33333333%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-2 {
    left: 16.66666667%;
  }
  .col-lg-push-1 {
    left: 8.33333333%;
  }
  .col-lg-push-0 {
    left: auto;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-lg-offset-0 {
    margin-left: 0%;
  }
}

.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
  content: " ";
  display: table;
}

.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
  clear: both;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.invisible {
  visibility: hidden;
}

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.hidden {
  display: none !important;
}

.affix {
  position: fixed;
}

@-ms-viewport {
  width: device-width;
}

.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
  display: none !important;
}

.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important;
}

@media (max-width: 767px) {
  .visible-xs {
    display: block !important;
  }
  table.visible-xs {
    display: table !important;
  }
  tr.visible-xs {
    display: table-row !important;
  }
  th.visible-xs,
  td.visible-xs {
    display: table-cell !important;
  }
}

@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important;
  }
}

@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important;
  }
}

@media (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important;
  }
  table.visible-sm {
    display: table !important;
  }
  tr.visible-sm {
    display: table-row !important;
  }
  th.visible-sm,
  td.visible-sm {
    display: table-cell !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-block {
    display: block !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline {
    display: inline !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important;
  }
  table.visible-md {
    display: table !important;
  }
  tr.visible-md {
    display: table-row !important;
  }
  th.visible-md,
  td.visible-md {
    display: table-cell !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-block {
    display: block !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline {
    display: inline !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 1200px) {
  .visible-lg {
    display: block !important;
  }
  table.visible-lg {
    display: table !important;
  }
  tr.visible-lg {
    display: table-row !important;
  }
  th.visible-lg,
  td.visible-lg {
    display: table-cell !important;
  }
}

@media (min-width: 1200px) {
  .visible-lg-block {
    display: block !important;
  }
}

@media (min-width: 1200px) {
  .visible-lg-inline {
    display: inline !important;
  }
}

@media (min-width: 1200px) {
  .visible-lg-inline-block {
    display: inline-block !important;
  }
}

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}

@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}

.visible-print {
  display: none !important;
}

@media print {
  .visible-print {
    display: block !important;
  }
  table.visible-print {
    display: table !important;
  }
  tr.visible-print {
    display: table-row !important;
  }
  th.visible-print,
  td.visible-print {
    display: table-cell !important;
  }
}

.visible-print-block {
  display: none !important;
}

@media print {
  .visible-print-block {
    display: block !important;
  }
}

.visible-print-inline {
  display: none !important;
}

@media print {
  .visible-print-inline {
    display: inline !important;
  }
}

.visible-print-inline-block {
  display: none !important;
}

@media print {
  .visible-print-inline-block {
    display: inline-block !important;
  }
}

@media print {
  .hidden-print {
    display: none !important;
  }
}

html {
  font-family: "Graphik Web", sans-serif;
  font-size: 10px;
  line-height: normal;
  font-weight: 400;
}

body {
  font-size: 1.6rem;
  line-height: 24px;
  color: #0E0F16;
  background-color: #ffffff;
  font-family: "Graphik Web", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Graphik Web", sans-serif;
  line-height: normal;
  color: #0E0F16;
  margin-top: 0;
  font-weight: 700;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
}

h1 {
  font-size: 4.8rem;
  margin-bottom: 32px;
  line-height: 64px;
  font-weight: 700;
}

@media (max-width: 768px) {
  h1 {
    font-size: 3.8rem;
    margin-bottom: 28px;
    line-height: 48px;
  }
}

h2 {
  font-size: 4.4rem;
  margin-bottom: 28px;
  line-height: 56px;
}

@media (max-width: 768px) {
  h2 {
    font-size: 3.4rem;
    margin-bottom: 24px;
    line-height: 44px;
  }
}

h3 {
  font-size: 3.8rem;
  margin-bottom: 28px;
  line-height: 44px;
}

@media (max-width: 768px) {
  h3 {
    font-size: 3rem;
    margin-bottom: 20px;
    line-height: 40px;
  }
}

h4 {
  font-size: 3.2rem;
  margin-bottom: 24px;
  line-height: 40px;
}

@media (max-width: 768px) {
  h4 {
    font-size: 2.6rem;
    margin-bottom: 25px;
    line-height: 40px;
  }
}

h5 {
  font-size: 2.4rem;
  margin-bottom: 20px;
  line-height: 32px;
}

h6 {
  font-size: 2rem;
  margin-bottom: 12px;
  line-height: 26px;
  font-weight: 500;
}

p, a, span, label, li {
  font-family: "Graphik Web", sans-serif;
  color: #0E0F16;
  margin: 10px 0px 20px;
  font-size: 1.6rem;
  line-height: 24px;
}

p p, p a, p span, p label, a p, a a, a span, a label, span p, span a, span span, span label, label p, label a, label span, label label, li p, li a, li span, li label {
  font-size: 100%;
  margin: 0;
}

a {
  text-decoration: underline;
}

a:hover {
  color: #EE9615;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  margin: 0;
}

.weight-400 {
  font-weight: 400;
}

.weight-600 {
  font-weight: 600;
}

.weight-700 {
  font-weight: 700;
}

.color-primary {
  color: #0E0F16;
}

.color-secondary {
  color: #2EC4B6;
}

.color-accent {
  color: #FF9F1C;
}

.color-danger {
  color: #BD061B;
}

.color-subtle {
  color: #2E2F36;
}

img {
  max-width: 100%;
}

.t-center {
  text-align: center;
}

.t-left {
  text-align: left;
}

.t-right {
  text-align: right;
}

.button {
  padding: 0px 24px;
  color: #fff;
  font-weight: 500;
  border-radius: 2px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  margin: 0;
  display: inline-block;
  border: 0;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
}

.button.primary-solid {
  background-color: #0E0F16;
}

.button.primary-solid:hover {
  background-color: #FAC10C;
  color: #0E0F16;
}

.button.primary-outline {
  color: #0E0F16;
  border: 1px solid #0E0F16;
  background-color: transparent;
  padding: 11px 24px;
  color: #0E0F16;
}

.button.primary-outline:hover {
  background-color: #DFE0E8;
}

.button.tertiary-solid {
  color: #0E0F16;
  background-color: transparent;
}

.button.tertiary-solid:hover {
  background-color: #DFE0E8;
}

.button.w-100 {
  width: 100%;
}

.button.large {
  padding: 0px 32px;
  font-size: 18px;
  line-height: 50px;
}

.button i {
  margin-left: 4px;
  width: 24px;
  height: 24px;
  line-height: 24px;
}

.button:focus-visible {
  border: 0;
  outline: 0;
}

.m-0 {
  margin: 0;
}

.mr-1 {
  margin-right: 4px;
}

.mr-2 {
  margin-right: 8px;
}

.mr-3 {
  margin-right: 12px;
}

.mr-4 {
  margin-right: 16px;
}

.mr-5 {
  margin-right: 20px;
}

.mr-6 {
  margin-right: 24px;
}

.mr-7 {
  margin-right: 28px;
}

.mr-8 {
  margin-right: 32px;
}

.mr-9 {
  margin-right: 44px;
}

.mr-10 {
  margin-right: 64px;
}

.mr-11 {
  margin-right: 128px;
}

.ml-1 {
  margin-left: 4px;
}

.ml-2 {
  margin-left: 8px;
}

.ml-3 {
  margin-left: 12px;
}

.ml-4 {
  margin-left: 16px;
}

.ml-5 {
  margin-left: 20px;
}

.ml-6 {
  margin-left: 24px;
}

.ml-7 {
  margin-left: 28px;
}

.ml-8 {
  margin-left: 32px;
}

.ml-9 {
  margin-left: 44px;
}

.ml-10 {
  margin-left: 64px;
}

.ml-11 {
  margin-left: 128px;
}

.mt-1 {
  margin-top: 4px;
}

.mt-2 {
  margin-top: 8px;
}

.mt-3 {
  margin-top: 12px;
}

.mt-4 {
  margin-top: 16px;
}

.mt-5 {
  margin-top: 20px;
}

.mt-6 {
  margin-top: 24px;
}

.mt-7 {
  margin-top: 28px;
}

.mt-8 {
  margin-top: 32px;
}

.mt-9 {
  margin-top: 44px;
}

.mt-10 {
  margin-top: 64px;
}

.mt-11 {
  margin-top: 128px;
}

.mb-1 {
  margin-bottom: 4px;
}

.mb-2 {
  margin-bottom: 8px;
}

.mb-3 {
  margin-bottom: 12px;
}

.mb-4 {
  margin-bottom: 16px;
}

.mb-5 {
  margin-bottom: 20px;
}

.mb-6 {
  margin-bottom: 24px;
}

.mb-7 {
  margin-bottom: 28px;
}

.mb-8 {
  margin-bottom: 32px;
}

.mb-9 {
  margin-bottom: 44px;
}

.mb-10 {
  margin-bottom: 64px;
}

.mb-11 {
  margin-bottom: 128px;
}

.pr-1 {
  padding-right: 4px;
}

.pr-2 {
  padding-right: 8px;
}

.pr-3 {
  padding-right: 12px;
}

.pr-4 {
  padding-right: 16px;
}

.pr-5 {
  padding-right: 20px;
}

.pr-6 {
  padding-right: 24px;
}

.pr-7 {
  padding-right: 28px;
}

.pr-8 {
  padding-right: 32px;
}

.pr-9 {
  padding-right: 44px;
}

.pr-10 {
  padding-right: 64px;
}

.pr-11 {
  padding-right: 128px;
}

.pl-1 {
  padding-left: 4px;
}

.pl-2 {
  padding-left: 8px;
}

.pl-3 {
  padding-left: 12px;
}

.pl-4 {
  padding-left: 16px;
}

.pl-5 {
  padding-left: 20px;
}

.pl-6 {
  padding-left: 24px;
}

.pl-7 {
  padding-left: 28px;
}

.pl-8 {
  padding-left: 32px;
}

.pl-9 {
  padding-left: 44px;
}

.pl-10 {
  padding-left: 64px;
}

.pl-11 {
  padding-left: 128px;
}

.pt-1 {
  padding-top: 4px;
}

.pt-2 {
  padding-top: 8px;
}

.pt-3 {
  padding-top: 12px;
}

.pt-4 {
  padding-top: 16px;
}

.pt-5 {
  padding-top: 20px;
}

.pt-6 {
  padding-top: 24px;
}

.pt-7 {
  padding-top: 28px;
}

.pt-8 {
  padding-top: 32px;
}

.pt-9 {
  padding-top: 44px;
}

.pt-10 {
  padding-top: 64px;
}

.pt-11 {
  padding-top: 128px;
}

.pb-1 {
  padding-bottom: 4px;
}

.pb-2 {
  padding-bottom: 8px;
}

.pb-3 {
  padding-bottom: 12px;
}

.pb-4 {
  padding-bottom: 16px;
}

.pb-5 {
  padding-bottom: 20px;
}

.pb-6 {
  padding-bottom: 24px;
}

.pb-7 {
  padding-bottom: 28px;
}

.pb-8 {
  padding-bottom: 32px;
}

.pb-9 {
  padding-bottom: 44px;
}

.pb-10 {
  padding-bottom: 64px;
}

.pb-11 {
  padding-bottom: 128px;
}

@media (max-width: 1200px) {
  .d-xl-none {
    display: none !important;
  }
}

@media (max-width: 992px) {
  .d-md-none {
    display: none !important;
  }
}

@media (max-width: 769px) {
  .d-sm-none {
    display: none !important;
  }
}

@media (max-width: 576px) {
  .d-xs-none {
    display: none !important;
  }
}

@media (max-width: 1200px) {
  .d-xl-block {
    display: block !important;
  }
}

@media (max-width: 992px) {
  .d-md-block {
    display: block !important;
  }
}

@media (max-width: 769px) {
  .d-sm-block {
    display: block !important;
  }
}

@media (max-width: 576px) {
  .d-xs-block {
    display: block !important;
  }
}

form {
  border: 1px solid #DFE0E8;
  padding: 24px;
  border-radius: 8px;
}

form input {
  height: 40px;
  font-size: 1.6rem;
}

form .form-control {
  font-size: 1.6rem;
}

form .form-control:focus {
  border-color: #0E0F16;
  -webkit-box-shadow: none;
          box-shadow: none;
}

form label {
  font-size: 1.4rem;
}

form .required {
  color: #BD061B;
}

form .error-state label {
  color: #BD061B;
}

form .error-state input {
  border: 1px solid #BD061B;
}

form .error-state .helper-text.error {
  color: #BD061B;
}

form .helper-text {
  color: #2E2F36;
  font-size: 1.2rem;
  margin: 4px 0 0 0;
  display: block;
}

.success-toast {
  border-width: 1px 1px 1px 8px;
  border-style: solid;
  border-color: var(--bs-success);
  background-color: #fff;
  border-radius: 8px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 16px;
  position: fixed;
  top: 100px;
  right: 32px;
  max-width: 240px;
  z-index: 999;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.success-toast p {
  margin: 0;
}

.success-toast.fadeout {
  opacity: 0;
  visibility: hidden;
}

header {
  padding: 24px 0;
  border-bottom: 1px solid #DFE0E8;
  background-color: #fff;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  -webkit-transition: all .4s;
  transition: all .4s;
}

header .top-logo img {
  height: 32px;
}

header.small-header {
  padding: 16px 0;
}

@media (max-width: 992px) {
  header {
    position: static;
  }
}

.socials {
  list-style: none;
}

.socials li {
  display: inline-block;
  margin-right: 16px;
}

.socials li:last-child {
  margin-right: 0;
}

.socials li a {
  color: #0E0F16;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  font-size: 1.8rem;
  text-decoration: none;
}

.socials li a:hover {
  color: #FAC10C;
}

@media (max-width: 992px) {
  .socials.header {
    display: none;
  }
}

.header-wrapper,
.footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-wrapper .top-logo,
.footer-wrapper .top-logo {
  font-size: 2.4rem;
  line-height: 24px;
}

.header-wrapper nav.desktop-nav ul li,
.header-wrapper nav.footer-nav ul li,
.footer-wrapper nav.desktop-nav ul li,
.footer-wrapper nav.footer-nav ul li {
  list-style: none;
  margin-right: 28px;
  display: inline-block;
  position: relative;
}

.header-wrapper nav.desktop-nav ul li::before,
.header-wrapper nav.footer-nav ul li::before,
.footer-wrapper nav.desktop-nav ul li::before,
.footer-wrapper nav.footer-nav ul li::before {
  content: '/';
  position: absolute;
  right: -20px;
  top: 0;
  color: #DFE0E8;
}

.header-wrapper nav.desktop-nav ul li:last-child,
.header-wrapper nav.footer-nav ul li:last-child,
.footer-wrapper nav.desktop-nav ul li:last-child,
.footer-wrapper nav.footer-nav ul li:last-child {
  margin-right: 0;
}

.header-wrapper nav.desktop-nav ul li:last-child::before,
.header-wrapper nav.footer-nav ul li:last-child::before,
.footer-wrapper nav.desktop-nav ul li:last-child::before,
.footer-wrapper nav.footer-nav ul li:last-child::before {
  content: '';
}

.header-wrapper nav.desktop-nav ul li a,
.header-wrapper nav.footer-nav ul li a,
.footer-wrapper nav.desktop-nav ul li a,
.footer-wrapper nav.footer-nav ul li a {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  font-weight: 500;
  position: relative;
  text-decoration: none;
}

.header-wrapper nav.desktop-nav ul li a span,
.header-wrapper nav.footer-nav ul li a span,
.footer-wrapper nav.desktop-nav ul li a span,
.footer-wrapper nav.footer-nav ul li a span {
  position: relative;
  z-index: 9;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.header-wrapper nav.desktop-nav ul li a span:hover,
.header-wrapper nav.footer-nav ul li a span:hover,
.footer-wrapper nav.desktop-nav ul li a span:hover,
.footer-wrapper nav.footer-nav ul li a span:hover {
  opacity: 0.7;
}

.header-wrapper nav.desktop-nav ul li a.active::after,
.header-wrapper nav.footer-nav ul li a.active::after,
.footer-wrapper nav.desktop-nav ul li a.active::after,
.footer-wrapper nav.footer-nav ul li a.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -2px;
  width: calc(100% + 4px);
  height: 6px;
  background-color: #FFCC3E;
}

@media (max-width: 992px) {
  .header-wrapper nav.desktop-nav,
  .header-wrapper nav.footer-nav,
  .footer-wrapper nav.desktop-nav,
  .footer-wrapper nav.footer-nav {
    display: none;
  }
}

.header-wrapper .mburger,
.footer-wrapper .mburger {
  display: none;
}

@media (max-width: 992px) {
  .header-wrapper .mburger,
  .footer-wrapper .mburger {
    display: block;
  }
}

.mburger {
  width: 24px;
  height: 24px !important;
  --mb-bar-height: 2px;
}

#menu:not(.mm-menu) {
  display: none;
}

footer .footer-wrapper {
  border-top: 1px solid #DFE0E8;
  padding: 44px 0 0;
}

footer .footer-wrapper nav.footer-nav {
  display: block;
  margin-bottom: 44px;
}

@media (max-width: 576px) {
  footer .footer-wrapper nav.footer-nav ul li {
    margin-bottom: 12px;
  }
}

@media (max-width: 992px) {
  footer .footer-wrapper {
    display: block;
    text-align: center;
  }
}

footer .footer-wrapper .logo {
  margin-bottom: 32px;
}

footer .footer-wrapper .logo img {
  height: 32px;
}

footer .copyright {
  background-color: #F5F6FF;
  padding: 12px 0;
}

footer .copyright p, footer .copyright a {
  font-size: 12px;
  line-height: 16px;
  margin: 0;
}

footer .copyright .wrapper-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 992px) {
  footer .copyright .wrapper-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  footer .copyright .wrapper-block .terms {
    margin-bottom: 16px;
  }
}

footer .copyright .wrapper-block .terms {
  list-style: none;
}

footer .copyright .wrapper-block .terms li {
  display: inline-block;
  margin-right: 24px;
}

footer .copyright .wrapper-block .terms li:last-child {
  margin-right: 0;
}

.divider {
  background-color: #DFE0E8;
  height: 1px;
  margin: 128px 0;
}

.divider.xs {
  margin: 24px 0;
}

.divider.sm {
  margin: 32px 0;
}

.wwd ul li, .methods ul li {
  padding: 0 24px 24px;
  margin-bottom: 24px;
  position: relative;
  list-style: none;
}

@media (max-width: 769px) {
  .wwd ul li, .methods ul li {
    padding: 0 0 24px;
    text-align: center;
  }
}

.wwd ul li:before, .methods ul li:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: -webkit-gradient(linear, right top, left top, from(#EE9615), to(#FAC10C));
  background: linear-gradient(270deg, #EE9615 0%, #FAC10C 100%);
}

.wwd ul li:last-child, .methods ul li:last-child {
  margin-bottom: 0;
}

.wwd ul li:last-child::before, .methods ul li:last-child::before {
  display: none;
}

.wwd ul li h5, .methods ul li h5 {
  margin-bottom: 12px;
}

.logo-toggle {
  text-align: center;
}

.logo-toggle .nav-tabs {
  background-color: #fff;
  border: 1px solid #DFE0E8;
  padding: 12px;
  border-radius: 64px;
  display: inline-block;
  -webkit-box-shadow: 0px 20px 28px 0px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 20px 28px 0px rgba(0, 0, 0, 0.08);
}

@media (max-width: 992px) {
  .logo-toggle .nav-tabs {
    border: 0px;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.logo-toggle .nav-tabs li {
  display: inline-block;
  margin-right: 4px;
}

.logo-toggle .nav-tabs li:last-child {
  margin-right: 0;
}

.logo-toggle .nav-tabs li .nav-link.active {
  background-color: #EBEDF5;
  color: #0E0F16;
}

.logo-toggle .nav-tabs li .nav-link {
  font-weight: 500;
  padding: 13px 24px;
  color: #2E2F36;
  font-size: 14px;
  line-height: 14px;
  background-color: transparent;
  border: none;
  border-radius: 40px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.logo-toggle .nav-tabs li .nav-link:hover {
  background-color: #F5F6FF;
}

.tab-content > .active {
  display: block;
}

.tab-content > .tab-pane {
  display: none;
}

.logo-wrapper {
  margin: 0 -20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.logo-block {
  width: 200px;
  height: 100px;
  border: 1px solid #DFE0E8;
  border-radius: 8px;
  padding: 16px;
  margin: 0 12px;
  margin-bottom: 24px;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo-block img {
  max-height: 100%;
  max-width: 100%;
}

.cta-btn a {
  margin-right: 24px;
}

.cta-btn a:last-child {
  margin-right: 0;
}

@media (max-width: 1200px) {
  .hero {
    text-align: center;
  }
  .hero .mt-10 {
    margin-top: 44px;
  }
  .hero .cta-btn {
    margin-bottom: 64px;
  }
  .cta-button.logo {
    margin-bottom: 64px !important;
  }
}

@media (max-width: 769px) {
  .hero .logo-wrapper {
    display: none;
  }
  .hero .cta-btn {
    margin-bottom: 0;
  }
  .divider {
    margin: 64px 0;
  }
}

@media (max-width: 576px) {
  .cta-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cta-btn a {
    margin: 0 0 24px 0;
  }
  .cta-btn a:last-child {
    margin: 0;
  }
}

.general-page {
  margin-bottom: 128px;
}

@media (max-width: 992px) {
  .general-page {
    margin-bottom: 64px;
  }
}

.pricing-title article {
  max-width: 648px;
  margin: 0 auto;
}

.pricing-plans {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -12px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1200px) {
  .pricing-plans {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
  }
}

.pricing-plans .plan-card {
  border: 1px solid #DFE0E8;
  padding: 24px;
  border-radius: 8px;
  width: 424px;
  margin: 0 12px;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
}

@media (max-width: 1200px) {
  .pricing-plans .plan-card {
    width: 500px;
    margin: 0 auto 24px;
  }
}

@media (max-width: 769px) {
  .pricing-plans .plan-card {
    width: 100%;
  }
  .pricing-plans .plan-card:last-child {
    margin: 0;
  }
}

.pricing-plans .plan-card .header {
  border-bottom: 1px solid #DFE0E8;
  margin-bottom: 24px;
  padding-bottom: 24px;
}

.pricing-plans .plan-card .header h2 {
  font-size: 4.8rem;
  margin-bottom: 24px;
}

.pricing-plans .plan-card .header h2 span {
  color: #86878E;
  font-size: 2.2rem;
  font-weight: 400;
}

@media (max-width: 992px) {
  .pricing-plans .plan-card .header h2 {
    font-size: 4rem;
  }
}

.pricing-plans .plan-card .header p {
  margin: 0;
}

.pricing-plans .plan-card .body ul {
  list-style: none;
  margin-bottom: 24px;
}

.pricing-plans .plan-card .body ul li {
  margin-bottom: 24px;
}

.pricing-plans .plan-card .body ul li:last-child {
  margin-bottom: 0;
}

.pricing-plans .plan-card .body .get-started a {
  display: block;
}

.about-title article {
  max-width: 900px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 992px) {
  .about-title article {
    max-width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.about-title article .title {
  width: 50%;
  padding-right: 12px;
}

@media (max-width: 992px) {
  .about-title article .title {
    width: 100%;
    padding-right: 0;
  }
}

.about-title article .description {
  width: 50%;
  padding-left: 12px;
}

@media (max-width: 992px) {
  .about-title article .description {
    width: 100%;
    padding-left: 0;
  }
}

.team-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 -12px 24px;
}

.team-wrapper .team-card {
  border: 1px solid #DFE0E8;
  padding: 24px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  width: 306px;
  text-align: center;
  margin: 0 12px 24px;
}

.team-wrapper .team-card .avatar {
  margin-bottom: 24px;
}

.team-wrapper .team-card .avatar img {
  height: 240px;
  -o-object-fit: fill;
     object-fit: fill;
}

.team-wrapper .team-card .name {
  border-top: 1px solid #DFE0E8;
  padding-top: 16px;
  text-align: center;
}

.team-wrapper .team-card .name h6 {
  margin-bottom: 4px;
}

.team-wrapper .team-card .name span {
  text-transform: uppercase;
  color: #86878E;
  font-size: 1.4rem;
}

@media (max-width: 576px) {
  .team-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.contact-page form {
  max-width: 648px;
  margin: 0 auto 64px;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
}

.contact-page form .row {
  margin-bottom: 8px;
}

.contact-page form .submit-form {
  margin-top: 16px;
}

.contact-page .contact-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 128px;
}

@media (max-width: 992px) {
  .contact-page .contact-blocks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 1200px) {
  .contact-page .contact-blocks {
    margin-bottom: 64px;
  }
}

.contact-page .contact-blocks .block {
  border: 1px solid #DFE0E8;
  border-radius: 8px;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  width: 312px;
  margin: 0 12px;
  padding: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-page .contact-blocks .block .icon {
  width: 32px;
  height: 32px;
  border-radius: 32px;
  background-color: #EE9615;
  color: #fff;
  line-height: 32px;
  font-size: 12px;
  margin-right: 12px;
  text-align: center;
}

.contact-page .contact-blocks .block .description {
  text-align: left;
}

.contact-page .contact-blocks .block .description h6 {
  font-weight: 700;
  margin-bottom: 4px;
}

@media (max-width: 992px) {
  .contact-page .contact-blocks .block {
    margin: 0 0 24px;
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */