footer {
    .footer-wrapper {
        border-top: 1px solid $border;
        padding: 44px 0 0;
        nav.footer-nav {
            display: block;
            margin-bottom: 44px;
            @include xs {
                ul li {
                    margin-bottom: 12px;
                }
            }
        }
        @include md {
            display: block;
            text-align: center;
        }
        .logo {
            margin-bottom: 32px;
            img {
                height: 32px;
            }
        }

    }
    .copyright {
        background-color: #F5F6FF;
        padding: 12px 0;
        p, a {
            font-size: 12px;
            line-height: 16px;
            margin: 0;
        }
        .wrapper-block {
            display: flex;
            justify-content: space-between;
            align-items: center;
            @include md {
                flex-direction: column-reverse;
                .terms {
                    margin-bottom: 16px;
                }
            }
            .terms {
                list-style: none;
                li {
                    display: inline-block;
                    margin-right: 24px;
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
    }
}