// Framework
$container: 1320px;

// Colors
$regular: #0E0F16;
$header: #0E0F16;
$subtle: #2E2F36;
$border: #DFE0E8;

// surfaces
$dark-surface: #3D5A80;
$light-surface: #F9FAFC;
$white-surface: #ffffff;

// buttons--secondary
$secondary-base: #2EC4B6;
$secondary-light: #CBF3F0;
$secondary-shade: #28ACA0;

// buttons--accent
$accent-base: #FF9F1C;
$accent-light: #FFC77C;
$accent-shade: #EE9113;

// buttons--primary
$primary-base: #0E0F16;
$primary-tint: #FFCC3E;
$primary-shade: #FAC10C;

// Typography
$body-font: 'Graphik Web', sans-serif;
$heading-font: 'Graphik Web', sans-serif;